
@{
    ViewBag.Title = "BiletAl";
}
<link href="~/css/UyeOl_Style.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<!-- DatePicker -->
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<h2>BiletAl</h2>

<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bilet Satın Al</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="#" method="post">
                        <fieldset>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Kalkış</label>
                                    <div class="cols-sm-10">
                                        <select id="selectbasic" name="cinsiyet" class="form-control input-md">
                                            <option>İstanbul</option>
                                            <option>Eskişehir</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Varış</label>
                                    <div class="cols-sm-10">
                                        <select id="selectbasic" name="cinsiyet" class="form-control input-md">
                                            <option>Eskişehir</option>
                                            <option>Bursa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Tarih</label>
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' name="tarih" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:25px">
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Sefer Sorgula" style="color: white">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
</script>