<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-12" align="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12264.121982698123!2d30.510625949999998!3d39.783871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0b0432205d20bef!2sAnadolu+%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1478977799497"  height="500px" width="1050px" frameborder="0" style="border: 0" allowfullscreen></iframe>
            <div align="center" style="background: white; height: 180px; width: 1050px;">
                <h2 style="padding-top: 20px; padding-bottom: 20px;  background: #4da54d; color: white;">Vale Turizm Taşımacılık Tic. ve Ltd.Şti.</h2>
                <p>Eskişehir/Türkiye</p>
                <p>Tel: 0222 222 22 22</p>
                <p>Email: info@vale.com</p>
            </div>
        </div>
    </div>
</div>