<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personel Ekle</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="#" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Ad</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Soyad</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Cinsiyet</label>
                                <div class="cols-sm-10">
                                    <select id="selectbasic" name="" class="form-control input-md">
                                        <option>Erkek</option>
                                        <option>Kız</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Email</label>
                                <div class="cols-sm-10">
                                    <input type="email" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Telefon</label>
                                <div class="cols-sm-10">
                                    <input type="tel" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Adres</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Maaş</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Personel Tipi</label>
                                <div class="cols-sm-10">
                                    <select id="selectbasic" name="" class="form-control input-md">
                                        <option>Şoför</option>
                                        <option>Muavin</option>
                                        <option>Admin</option>
                                    </select>
                                </div>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Ekle" style="color: white">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>