.erkek {
    background: rgb(37,107,178); 
    color: white; 
    height: 40px; 
    width: 40px; 
    text-align: center; 
    vertical-align: middle;
    line-height: 40px;
    margin-left: 9px; 
    margin-right: 5px; 
    margin-top: 2px;
    margin-bottom: 2px;
}
.kız {
    background: rgb(223,45,46); 
    color: white; 
    height: 40px; 
    width: 40px; 
    text-align: center; 
    vertical-align: middle;
    line-height: 40px;
    margin-left: 9px; 
    margin-right: 5px; 
    margin-top: 2px;
    margin-bottom: 2px;
}
.bos { 
    color: gray; 
    height: 40px; 
    width: 40px;
    border: 1px gray solid; 
    text-align: center; 
    vertical-align: middle;
    line-height: 40px;
    margin-left: 9px; 
    margin-right: 5px; 
    margin-top: 2px;
    margin-bottom: 2px;
}
#otobus {
    border: 1px gray solid; 
    height: 535px;
}                         
.gorunmez{
    height: 40px; 
    width: 40px;
    margin-left: 5px; 
    margin-right: 5px; 
    margin-top: 2px;
    margin-bottom: 2px;
} 